@{
    ViewBag.Title = "MenShoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title></title>
<style>
    .image {
        height: 470px;
        width: 350px;
    }

    .floated_img {
        float: left;
        height: 300px;
        width: 300px;
    }
</style>



</head>
<body>


    <h1>Conquer the World With Your Style</h1>

    <hr style="height:1px;border:none;color:#333;background-color:#333;" />

    @* <h1>Formal Shoes </h1>
            <div class="row">
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/s1.jpg" alt="Some image">
                    <center>
                        <p>
                            Bata Black <br>
                            Rs: 2950
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/s2.jpg" alt="Some image">
                    <center>
                        <p>
                            Anushka <br>
                            Rs: 3950
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/s3.jpg" alt="Some image">
                    <center>
                        <p>
                            Kareena <br>
                            Rs: 5150
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/s4.jpg" alt="Some image">
                    <center>
                        <p>
                            Katrina <br>
                            Rs: 6150
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
            </div>
            <br>

            <h1>Sandle and Slippers </h1>
            <div class="row">
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sa1.jpg" alt="Some image">
                    <center>
                        <p>
                            KumKum <br>
                            Rs: 2950
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sa2.jpg" alt="Some image">
                    <center>
                        <p>
                            Tulsi <br>
                            Rs: 3950
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>
                    </center>
                </div>
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sa3.jpg" alt="Some image">
                    <center>
                        <p>
                            Preeti <br>
                            Rs: 5150
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sa4.jpg" alt="Some image">
                    <center>
                        <p>
                            Pareena <br>
                            Rs: 6150
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
            </div>
            <br>

            <h1>Sneakers </h1>
            <div class="row">
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sn1.jpg" alt="Some image">
                    <center>
                        <p>
                            Bata Sneaker <br>
                            Rs: 2950
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sn2.jpg" alt="Some image">
                    <center>
                        <p>
                            Canvas <br>
                            Rs: 3950
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sn3.jpg" alt="Some image">
                    <center>
                        <p>
                            Vans <br>
                            Rs: 5150
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sn4.jpg" alt="Some image">
                    <center>
                        <p>
                            Heavy Sneakers <br>
                            Rs: 6150
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
            </div>
            <br>

            <h1>Casula Shoes </h1>
            <div class="row">
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sn5.jpg" alt="Some image">
                    <center>
                        <p>
                            White Casual <br>
                            Rs: 2950
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sn6.jpg" alt="Some image">
                    <center>
                        <p>
                            Red Rose <br>
                            Rs: 3950
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sn7.jpg" alt="Some image">
                    <center>
                        <p>
                            Real Casual <br>
                            Rs: 5150
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sn8.jpg" alt="Some image">
                    <center>
                        <p>
                            Brown Leather <br>
                            Rs: 6150
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
            </div>
            <br>

            <h1>Sports Shoes </h1>
            <div class="row">
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sp1.jpg" alt="Some image">
                    <center>
                        <p>
                            Cricket Shoes <br>
                            Rs: 6950
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sp2.jpg" alt="Some image">
                    <center>
                        <p>
                            Hockey Shoes <br>
                            Rs: 13950
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sp3.jpg" alt="Some image">
                    <center>
                        <p>
                            Tennis Shoes <br>
                            Rs: 9950
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
                <div class="col-md-3">
                    <img class="floated_img" src="~/Images/sp4.jpg" alt="Some image">
                    <center>
                        <p>
                            Basket Ball Shoes <br>
                            Rs: 6150
                        </p>
                       <a class="btn btn-danger" role="button" href="/Home/Cart" data-toggle="modal">Add to Cart</a>

                    </center>
                </div>
            </div>
            <br><br><br>



        </body>
        </html>*@

    @Scripts.Render("~/bundles/jquery")
    <script>

        $(document).ready(function () {

            $('#imag').hide();

            $('#b1').click(function () {

                var searchv = $('#search').val();

                $.getJSON("/MenShoes/Check?searchva=" + searchv, function (data) {
                    if (data) {
                        //  $('#imag').text("User already exists in database");
                        //  $('#imag').attr('src','~/Images/'+data[0].I);
                        $('#l1').text("Available");

                    }
                    else {

                        $('#l1').text("Product is not available");
                    }
                });

            });

        });
    </script>


    <input type="text" id="search" placeholder="Search" style="width:20%;height:20%" class="btn-primary">
    <input type="button" id="b1" style="height:20%" value="Search">
    <center>
        <h4>
            <label id="l1"></label>
        </h4>
    </center>


    <a href="/Order/CheckOut"> <input type="button" value="CheckOut" /></a>
    @foreach (var br in Model)
    {
        <form action="/Order/AddtoCartS?pid=@br.Id" method="post" enctype="multipart/form-data">
            <div class="col-sm-6 col-md-4 hero-feature">
                <div class="thumbnail">
                    <img src="~/Images/@br.Images" style="height:300px;width:300px" />
                    <div class="caption">
                        <center>
                            <h4>@br.Name</h4>
                            <p>
                                <h4> @br.Price </h4>
                                <button type="submit" class="btn btn-danger">Add to Cart</button>
                            </p>
                        </center>
                    </div>
                </div>
            </div>
        </form>

    }
    <br>
    <br>
    <br>
</body>