
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/Layout2.cshtml";
}


<div class="row-fluid">
    <div class="span12 text-center">
        <h2>Add Products</h2>
        <br />
        
        <form >

            <select name="sites" class="btn btn-primary" id="sites">
                <option value="~/Home/Index" selected>Select category</option>
                <option value="/Product/AddClothes">Men's Clothing</option>
                <option value="/Product/AddShoes">Men's Shoes</option>
                <option value="/Product/AddAccessories">
                    Men's Accessories
                </option>
            </select>

            <input type="button" class="btn btn-danger" name="Submit"
                   value="Go!" onclick="window.open(sites.value)">
        </form>
      
    </div>
</div>