@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<center>
    <h2>Administrator Menu</h2>

    <div class="caption">
        <center>
            
            <a href="/Product/AddProduct" class="btn btn-success" role="button">Add Products</a>
            <a href="/Product/DeleteProduct" class="btn btn-danger" role="button">Delete Products</a> 
            <a href="/Product/UpdateProduct" class="btn btn-primary" role="button">Update Products</a>  
        </center>
    </div>
</center>