<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   @{
    Layout = "~/Views/Shared/Layout1.cshtml";
}
    <title></title>
</head>
<body>
    
    <p>
        <h3 >
        Welcome to the Zohaib's Clothing.We provide you super fine quality stuff in reasonable price.
        If you are happy with us then tell others otherwise tell us.
        Zohaib's Clothing supports many orphan Children.The basic purpose of Zohaib's Clothing's is to help 
        the needy.
        
    </h3></p>
    

</body>
</html>
