<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head > 
    @{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
     <title > </title > <style > .image {
        height: 470px;
        width: 350px;
    }

    </style > </head >
 <body >
       <h1 > Conquer the World With Your Style</h1 >
      <hr style="height:1px;border:none;color:#333;background-color:#333;" / > <section id="main" >
      <h1 >Warrenty & Support</h1 >
     <h4> <p > China K Maal Ki Koi Warrenty Nahi </p ></h4>
      <h1 > Refund & Exchange</h1 > 
     <h4><p > Udhar Muhabbat ki qenchi ha .<br > Udhar mang kar sharminda na ho. Kharida Howa Maal Wapis Nahi Hoga </p >
     </h4> 
     <h1 > Shipping Info</h1 >
     <h4> <p > Original Price + 550 </p > </h4>
     <h1 > Privacy Policy</h1 >
     <h4> <p > Apne Saamaan Ki Hifazat Khud Kare.Saman ghum hony ki surat ma company zemadar ni ho g </p > </h4>
     </section > <br > <br > <br > 
    
     </body >
 </html >
        