<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <title></title>
</head>
<body>
    
    <center>
        <ul>
            <li>
                <img style="height:450px;width:550px" src="~/Images/punk.jpg" />
                <hr style="height:0px;border:hidden;color:#333;background-color:#333;" />

                <img style="height: 450px; width: 550px; vertical-align: middle; text-align: center;" src="~/Images/pic2.jpg" />
                <hr style="height:0px;border:hidden;color:#333;background-color:#333;" />
                 <img style="height: 450px; width: 550px; vertical-align: middle; text-align: center;" src="~/Images/pic5.jpg" />
                <hr style="height:1px;border:hidden;color:#333;background-color:#333;" />

                <img style="height: 450px; width: 550px; vertical-align: middle; text-align: center;" src="~/Images/pic6.jpg" />
                <hr style="height:1px;border:hidden;color:#333;background-color:#333;" />

                <img style="height: 450px; width: 550px; vertical-align: middle; text-align: center;" src="~/Images/pic7.jpg" />
                <hr style="height:1px;border:hidden;color:#333;background-color:#333;" />

                <img style="height: 450px; width: 550px; vertical-align: middle; text-align: center;" src="~/Images/pic8.jpg" />
                <hr style="height:1px;border:hidden;color:#333;background-color:#333;" />

                <img style="height: 450px; width: 550px; vertical-align: middle; text-align: center;" src="~/Images/pic9.jpg" />
                <hr style="height:1px;border:hidden;color:#333;background-color:#333;" />
            </li>

        </ul>
    </center>
    
   
</body>
</html>
