<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @{
    Layout = "~/Views/Shared/Layout1.cshtml";
}
    <title></title>
</head>
<body>
    
    <h1>
        About Steetches:
    </h1>
    <h4>
        Kapra udhrny par company se rabta karein.
        </h4>
    <h1>
        About Stuff:
    </h1>
    <h4>
       Qenchi se kata hoa kapra Customer k mou par mara jae ga
    </h4>

    <h1>
        About Quality:
    </h1>
    <h4>
        Larae k duran kapray phatny ki surat ma company zemadar na ho g
    </h4>

    <h1>
        About Staff:
    </h1>
    <h4>
        Agar hamara staff ap k pass help k lya phonch jae tu Shukrany k 2 nafal ada karein.
    </h4>

    <br>
    <br>
    
</body></html>
