<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   @{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
     <title></title>
   
</head>
<body>
        <br />
    <br />
    <br />
    <br />

    <div class="row-fluid">
        <div class="span12 text-center">
            <h2>Sign Up</h2>
            <br />
            Name <input type="text" name="username" placeholder="Enter First Name" /><br /><br />
            Password  <input type="text" name="password" placeholder="Enter Password" /><br /><br />
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    
</body>
</html>
