<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    @{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <title></title>
    <style>
        .image {
            height: 470px;
            width: 350px;
        }
    </style>

</head>
<body>

   
    <h1>Conquer the World With Your Style</h1>

    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    <div id="page" class="group">
        <header>
            <p class="title">Faisal Ghaffar</p>
            <p>
                I am a Professional Software Engineer. Besides my professional life I enjoy a lot in my Student Life.
                It has always been a great fun hanging out with my friends. I love to watch and play cricket, watch movies,
                and reading articles and blogs to keep myself updated.
                I like biryani and chicken karahi with coke in Anarkali. Sometimes I prefer to be alone and have long walks
                on a road in foggy nights.
            </p>
            <nav>
                <ul>
                    <li><a href="/ContentPage/Blog" title="Blog">Blog</a></li>
                    <li><a href="/ContentPage/Twitter" title="Twitter">Twitter</a></li>
                    <li><a href="/ContentPage/Photos" title="Photos">Photos</a></li>
                    <li><a href="/ContentPage/Facebook" title="Facebook">Facebook</a></li>
                </ul>
            </nav>
        </header>
        <section>


            <p>
                Welcome to the my personal site! To get started, click any of the
                menu items to Know and See me.
            </p>
        </section>
    </div>


    <br>
    <br>
    <br>
    
</body>
</html>
