@{
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signerror</title>
</head>
<body>
    <div>
      <h1>  user not validated </h1>
    </div>
</body>
</html>
